.navegador{
    grid-area: navegador;
    background: linear-gradient(to right, #1e1d1f, hsl(0, 0%, 0%));
    ul{
        margin: 5px 100px;
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        li a{
            color: #fff;
            text-decoration: none;
            &:hover{
                background-color: #fff;
                color:#1e1d1f;
            }
        }
    }
}